.container {
  background-color: #facbff;
  max-width: 160rem;
  margin: 6rem auto;
  font-size: 1.5rem;
  min-height: 50rem; // delete
}

.addBoard {
  background-color: #30c4c0;
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 4rem;

  & > button {
    //margin-top: 2rem;
  }

}