.item {
  margin: 0 2rem;
  box-shadow: 0 0 .1rem .1rem rgba(0, 0, 0, 0.17) !important;
  padding: .7rem 1.4rem;
  border-radius: 1rem;
  cursor: pointer;
}

.board {
  background-color: #ffffff;
  box-shadow: 0 4px 1rem 0 rgba(0, 0, 0, 0.23) !important;
  border-radius: 1rem;
  min-height: 50rem;
  flex: 1;

  & > h3 {
    padding: 0 2rem;
    margin: 1.5rem 0;
  }

  & > div {
    margin-bottom: 2rem;
  }
}