.item {
  margin: 0 2rem;
  background-color: #9c9be7;
  padding: .7rem 1.4rem;
  border-radius: 1rem;
  cursor: pointer;
}

.board {
  background-color: #c9f8a4;
  min-height: 50rem;
  flex: 1;

  & > h3 {
    padding: 0 2rem;
    margin: 1.5rem 0;
  }

  & > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}