.container {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.23);
  background-color: white;
  border-radius: 1rem;
  max-width: 160rem;
  margin: 10rem auto;
  font-size: 1.5rem;
  min-height: 50rem; // delete
  padding: 2rem;
}

.headContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  & > button {
    padding: 1rem;
    border-radius: 1rem;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  & button {
    border: none;
    background: none;
  }
}

.search {
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  margin-right: -3.5rem;
  padding: .7rem 2rem;
  background-color: #f0eeee;
  border-radius: 10rem;
}

.returnToTodolists {
  background-color: #9c9be7;
  padding: 1rem;
  border-radius: 1rem;
}

.flexContainer {
  display: flex;
  & > div:not(:last-child) {
    margin-right: 1.5rem;
  }
}